rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // usersコレクションのルール
    match /users/{userId} {
      // 該当するuserIdのドキュメントを読めるかどうか
      allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      
      // cardsサブコレクション
      match /cards/{cardId} {
        // cardsドキュメントの操作を許可するかどうか
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId; 
      }

      // companiesサブコレクション
      match /companies/{companyId} {
        allow read, create, update, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
