rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    // Only allow users to access their own business cards.
    match /business_cards/{cardId} {
      // 新規作成時は、リクエストのデータ内の createdBy が auth.uid と一致することを確認
      allow create: if isAuthenticated() &&
                    request.auth.uid == request.resource.data.createdBy;
      
      // 既存ドキュメントへの読み込み、更新、削除時は、既存データの createdBy と auth.uid が一致していることを確認
      allow read, update, delete: if isAuthenticated() &&
                                   resource.data.createdBy == request.auth.uid;
    }
    match /companies/{companyId} {
      allow read: if isAuthenticated()&&
                          get(resource.data.cardRef).data.createdBy == request.auth.uid;
    }

    // Other collections and documents can be handled with separate rules.
  }
}
